<mat-tab-group>
    <mat-tab label="{{ 'crew_info' | translate }}">
      <div class="crew-card">
        <h2>{{ crew.firstName }} {{ crew.lastName }}</h2>
        <p>{{ 'title' | translate }}: {{ crew.title }}</p>
        <p>{{ 'nationality' | translate }}: {{ crew.nationality }}</p>
        <p>{{ 'days_on_board' | translate }}: {{ crew.daysOnBoard }}</p>
        <p>{{ 'daily_rate' | translate }}: {{ crew.dailyRate }}</p>
        <p>{{ 'currency' | translate }}: {{ crew.currency }}</p>
        <p>{{ 'total_income' | translate }}: {{ crew.totalIncome }}</p>
      </div>
    </mat-tab>
    <mat-tab label="{{ 'certificates' | translate }}">
      <div class="certificates">
        <ul>
          <li *ngFor="let certificate of crewCertificates">
            <strong>{{ certificate.name }}</strong> - {{ certificate.desc }}<br>
            {{ 'issue_date' | translate }}: {{ certificate.issueDate | date }}<br>
            {{ 'expiry_date' | translate }}: {{ certificate.expiryDate | date }}
          </li>
        </ul>
      </div>
    </mat-tab>
  </mat-tab-group>