mat-toolbar {
  background-color: #09447a;
}

.spacer {
  flex: 1 1 auto;
}

.mat-menu-item {
  color: #000000;
}

.mat-menu-item:hover {
  background-color: #34495e;
  color: #1abc9c;
}

button.mat-icon-button:hover mat-icon {
  color: #1abc9c;
}