<!-- Sidebar -->
<mat-sidenav-container class="container">
    <mat-sidenav mode="side" opened class="sidenav">
      <mat-nav-list>
        <mat-list-item>
          <button mat-button routerLink="/home">
            <span>{{ 'home' | translate }}</span>
          </button>
        </mat-list-item>
        <mat-list-item>
          <button mat-button routerLink="/home/crew-list">
            <span>{{ 'crew_list' | translate }}</span>
          </button>
        </mat-list-item>
        <mat-list-item>
          <button mat-button routerLink="/home/certificates">
            <span>{{ 'certificates' | translate }}</span>
          </button>
        </mat-list-item>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <!-- Ana içerik buraya gelecek -->
    </mat-sidenav-content>
</mat-sidenav-container>