<!-- Sidebar -->
<mat-sidenav-container class="container">
    <mat-sidenav mode="side" opened class="sidenav">
      <mat-nav-list>
        <mat-list-item>
          <button mat-button routerLink="/home/crew-list">
            <span>
              <mat-icon>groups</mat-icon>
              {{ 'crew_list' | translate }}
            </span>
          </button>
        </mat-list-item>
        <mat-list-item>
          <button mat-button routerLink="/home/certificates">
            <span>
              <mat-icon>card_membership</mat-icon>
              {{ 'certificates' | translate }}
            </span>
          </button>
        </mat-list-item>
      </mat-nav-list>
    </mat-sidenav>
</mat-sidenav-container>