<div class="container">
  <h1 mat-title>{{ 'certificates' | translate }}</h1>
  <mat-table [dataSource]="certificates" class="mat-elevation-z8">
    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef> {{ 'name' | translate }} </mat-header-cell>
      <mat-cell *matCellDef="let certificate"> {{ certificate.name }} </mat-cell>
    </ng-container>

    <!-- Description Column -->
    <ng-container matColumnDef="desc">
      <mat-header-cell *matHeaderCellDef> {{ 'description' | translate }} </mat-header-cell>
      <mat-cell *matCellDef="let certificate"> {{ certificate.desc }} </mat-cell>
    </ng-container>

    <!-- Actions Column -->
    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef> {{ 'actions' | translate }} </mat-header-cell>
      <mat-cell *matCellDef="let certificate">
        <button mat-icon-button color="warn" (click)="deleteCertificate(certificate.id)">
          <mat-icon>delete</mat-icon>
        </button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>

  <button mat-raised-button color="primary" class="toggle-add-form-button" (click)="toggleAddForm()">
    {{ showAddForm ? ('cancel' | translate) : ('add_new_certificate' | translate) }}
  </button>

  <div class="add-certificate-form" *ngIf="showAddForm">
    <h2 mat-subheader>{{ 'add_new_certificate' | translate }}</h2>
    <form [formGroup]="certificateForm">
      <mat-form-field appearance="fill">
        <mat-label>{{ 'name' | translate }}</mat-label>
        <input matInput formControlName="name" placeholder="{{ 'name' | translate }}" required>
        <mat-error *ngIf="certificateForm.get('name')?.hasError('required')">
          {{ 'name_required' | translate }}
        </mat-error>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>{{ 'description' | translate }}</mat-label>
        <input matInput formControlName="desc" placeholder="{{ 'description' | translate }}" required>
        <mat-error *ngIf="certificateForm.get('desc')?.hasError('required')">
          {{ 'description_required' | translate }}
        </mat-error>
      </mat-form-field>
      <button mat-raised-button color="primary" class="add-certificate-button" (click)="addCertificate()" [disabled]="certificateForm.invalid">{{ 'add' | translate }}</button>
    </form>
  </div>
</div>