<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  <!-- First Name Column -->
  <ng-container matColumnDef="firstName">
    <th mat-header-cell *matHeaderCellDef> {{ 'first_name' | translate }} </th>
    <td mat-cell *matCellDef="let crew"> {{ crew.firstName }} </td>
  </ng-container>

  <!-- Last Name Column -->
  <ng-container matColumnDef="lastName">
    <th mat-header-cell *matHeaderCellDef> {{ 'last_name' | translate }} </th>
    <td mat-cell *matCellDef="let crew"> {{ crew.lastName }} </td>
  </ng-container>

  <!-- Nationality Column -->
  <ng-container matColumnDef="nationality">
    <th mat-header-cell *matHeaderCellDef> {{ 'nationality' | translate }} </th>
    <td mat-cell *matCellDef="let crew"> {{ crew.nationality }} </td>
  </ng-container>

  <!-- Title Column -->
  <ng-container matColumnDef="title">
    <th mat-header-cell *matHeaderCellDef> {{ 'title' | translate }} </th>
    <td mat-cell *matCellDef="let crew"> {{ crew.title }} </td>
  </ng-container>

  <!-- Days On Board Column -->
  <ng-container matColumnDef="daysOnBoard">
    <th mat-header-cell *matHeaderCellDef> {{ 'days_on_board' | translate }} </th>
    <td mat-cell *matCellDef="let crew"> {{ crew.daysOnBoard }} </td>
  </ng-container>

  <!-- Daily Rate Column -->
  <ng-container matColumnDef="dailyRate">
    <th mat-header-cell *matHeaderCellDef> {{ 'daily_rate' | translate }} </th>
    <td mat-cell *matCellDef="let crew"> {{ crew.dailyRate }} </td>
  </ng-container>

  <!-- Currency Column -->
  <ng-container matColumnDef="currency">
    <th mat-header-cell *matHeaderCellDef> {{ 'currency' | translate }} </th>
    <td mat-cell *matCellDef="let crew"> {{ crew.currency }} </td>
  </ng-container>

  <!-- Discount Column -->
<ng-container matColumnDef="discount">
  <th mat-header-cell *matHeaderCellDef> {{ 'discount' | translate }} </th>
  <td mat-cell *matCellDef="let crew">
    <mat-form-field appearance="fill" class="narrow-input">
      <mat-label>{{ 'discount' | translate }}</mat-label>
      <input matInput type="number" [(ngModel)]="crew.discount" (ngModelChange)="applyDiscount()" min="0" max="100">
    </mat-form-field>
  </td>
</ng-container>

  <!-- Total Income Column -->
  <ng-container matColumnDef="totalIncome">
    <th mat-header-cell *matHeaderCellDef> {{ 'total_income' | translate }} </th>
    <td mat-cell *matCellDef="let crew" class="total-income-cell"> {{ crew.totalIncome | currency: crew.currency }} </td>
  </ng-container>

  <!-- Certificates Column -->
  <ng-container matColumnDef="certificates">
    <th mat-header-cell *matHeaderCellDef> {{ 'certificates' | translate }} </th>
    <td mat-cell *matCellDef="let crew">
      <button mat-button class="certificates-button" (click)="openCertificatesDialog(crew.certificates)"> {{ 'view_certificates' | translate }} </button>
    </td>
  </ng-container>

  <!-- Actions Column -->
  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef> {{ 'actions' | translate }} </th>
    <td mat-cell *matCellDef="let crew">
      <button mat-icon-button class="edit-button" (click)="openEditDialog(crew)">
        <mat-icon class="edit-icon">edit</mat-icon>
      </button>
      <button mat-icon-button class="delete-button" (click)="deleteCrew(crew.id)">
        <mat-icon class="delete-icon">delete</mat-icon>
      </button>
      <button mat-icon-button class="crew-card-button" (click)="navigateToCrewCard(crew)">
        <mat-icon class="crew-card-icon">person</mat-icon>
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<div class="total-income">
  <p>{{ 'total_income' | translate }} (USD):</p>
  <span>
    {{ getTotalIncomeByCurrency('USD') | currency:'USD' }}
  </span>
</div>

<div class="total-income">
  <p>{{ 'total_income' | translate }} (EUR):</p>
  <span>
    {{ getTotalIncomeByCurrency('EUR') | currency:'EUR' }}
  </span>
</div>

<button mat-raised-button color="primary" class="add-crew-button" (click)="openAddCrewModal()">
  <mat-icon>person_add</mat-icon>
  {{ 'add_crew' | translate }}
</button>