table {
    width: 100%;
    margin: 20px 0;
  }
  
  .total-income {
    margin-top: 20px;
    font-weight: bold;
    margin: 20px;
  }

  .total-income span {
    color: #58ff5d;
    margin: 5px;
  }

  .total-income-cell {
    color: rgb(0, 129, 0);
  }

  .total-income p {
    color: white;
  }

  .narrow-input {
    width: 80px;
  }

  .add-crew-button {
    background-color: #2980b9;
    border-color: #2980b9;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
  }

  .add-crew-button:hover {
    background-color: #1abc9c;
    border-color: #16a085;
  }

  .certificates-button {
    width: 180px;
    background-color: #2980b9;
    border-color: #2980b9;
    color: white;
    padding: 10px;
    border-radius: 5px;
    font-size: 16px;
  }

  .certificates-button:hover {
    background-color: #1abc9c;
    border-color: #16a085;
  }

  .edit-icon {
    color: rgb(255, 196, 0);
  }
  
  .delete-icon {
    color: red;
  }
  
  .crew-card-icon {
    color: rgb(0, 140, 255);
  }

  .mat-elevation-z8 {
    border-radius: 20px;
    overflow: hidden;
    border: 3px solid #2980b9;
  }