:host {
    display: block;
    min-height: 100vh; /* min-height kullanarak içeriğin tam ekran olmasını sağlıyoruz */
    background-image: url('/assets/background.jpg');
    background-size: cover;
    background-position: center;
  }
  
  .home-content {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100%; /* min-height kullanarak içeriğin tam ekran olmasını sağlıyoruz */
    color: white;
    text-align: center;
  }